straight/build*
straight/repos/
straight/build-cache.el
straight/watcher/
straight/modified/
elpa/
var/
eshell/
tutorial/
projects
history
.cache/
tree-sitter/
transient/
recentf
projectile-bookmarks*
eln-cache/
.org-id-locations
tramp
bookmarks
org-roam.db
.DS_Store
*~